<!------------KONTAKTIENLISÄYS LOMAKE-------------->
<div class="container-fluid" *ngIf="aservice.userData | async">
<!--Tehdään Angularin Template-driven form jonka nimi on #f
f.value on lomakkeelta lähtevä data oliomuodossa. Lomake lähtee vasta kun
f.valid on true (pitää tarkistaa onSubmit -metodissa). novalidate kytkee pois 
päältä selaimen oman validaattorin koska olemme tehneet itse validaation
Анкета видна когда aservice.userdata = true -->
<p>Lisää uusi kontakti</p>
<form
 #f="ngForm"  
(ngSubmit)="onSubmit(f.value, f.valid);" novalidate>
<!--(?!\s*$) -lauseke tarkoittaa että lauseketta seuraavat merkit eivät voi olla loppuun saakka tyhjiä eli välilyöntejä-->
<label>Nimi:</label><br /><input class="form-control" type="text" name="name" #name="ngModel" ngModel required pattern="(?!\s*$)[a-öA-Ö0-9 -]{2,50}"/>

<span *ngIf="name.dirty">
    <span *ngIf="f.form.hasError('required', 'name')">Nimi on pakollinen!<br></span>
    <span *ngIf="f.form.hasError('pattern', 'name')">Nimen pitää olla oikea!<br></span>
</span>

<label>Email:</label><br /><input class="form-control" type="text" name="email" #email="ngModel" ngModel required email/>

<span *ngIf="email.dirty">
    <span *ngIf="f.form.hasError('required', 'email')">Email on pakollinen!</span>
    <span *ngIf="f.form.hasError('email', 'email')">Emailin pitää olla oikea!</span>
</span><br />

<!-- f.invalid on sidottu property bindingilla disabled -attribuuttiin
joka on button -elementin attribuutti. Jos arvo on true, on nappi disabled-->
<button class="btn btn-outline-secondary" [disabled]="f.invalid" type="submit">Lähetä</button>&nbsp;
<button class="btn btn-outline-secondary" (click)="signOut()">Kirjaudu ulos</button>
</form>
<p><br>Tiedoston lataus Cloud Storageen</p>
</div>
<h1 *ngIf="aservice.userData | async">Hello {{ (aservice.userData | async)?.email }}</h1>
<!-------------KIRJAUTUMISLOMAKE----------------->
<!--анкета для регистрации видна когда даты пользователя нет или он не аудентифицирован-->
<div class="container-fluid" *ngIf="!(aservice.userData | async)">

    <label>Kirjaudu sisään tai rekiströidy</label>
    <input class="form-control" type="text" [(ngModel)]="email" placeholder="email"><br>
    <input class="form-control" type="password" [(ngModel)]="password" placeholder="password"><br>

    <button class="btn btn-outline-secondary" (click)="signUp()">Rekiströidy</button>&nbsp;

    <button class="btn btn-outline-secondary" (click)="signIn()">Kirjaudu</button>
<!-- Calling GoogleAuth() Api from AuthService -->

<p><br>Kirjaudu Google-tunnuksilla</p>

  <div class="row">
    <div class="col-md-3">
      <a (click)="aservice.GoogleAuth()" 
      class="btn btn-outline-dark" role="button" style="text-transform:none">
        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        Login with Google
      </a>
    </div>
  </div>
  
</div>


